In [4]:
import pandas as pd
from collections import Counter
from sklearn import preprocessing

In [7]:
import os
os.listdir(os.curdir)

['dummy_data_v2.json',
 'User_Item_Rating.ipynb',
 'a3_p2.ipynb',
 'Cosine Sim.ipynb',
 'a3_p2_mehta_112689056.py',
 'dummy_data.json',
 'commands.txt',
 'Cosine Sim.py',
 '.ipynb_checkpoints',
 'Data_Creation.ipynb']

In [5]:
train = pd.read_csv('data2.csv')
train = train.dropna()

FileNotFoundError: [Errno 2] File b'data2.csv' does not exist: b'data2.csv'

In [3]:
train.head()

NameError: name 'train' is not defined

ageGroup and gender are redundant

Counter({'Adults-Men': 20871,
         'Adults-Unisex': 1736,
         'Adults-Women': 13962,
         'Kids-Boys': 968,
         'Kids-Girls': 781,
         'Kids-Unisex': 264})
         
Counter({'Boys': 751,
         'Girls': 591,
         'Men': 21118,
         'Unisex': 1964,
         'Women': 14158})

In [4]:
del train["ageGroup"]
del train["articleAttributes"]
del train["displayCategories"]

In [5]:
t1 = train.apply(preprocessing.LabelEncoder().fit_transform)
# t2 = train.apply(preprocessing.OneHotEncoder().fit_transform(train))

In [6]:
t1.head()

,baseColour,brandName,discountedPrice,fashionType,gender,myntraRating,price,productDisplayName,productTypeId,season,styleType,usage,year
0,9,121,659,1,2,1,313,7124,30,2,9,1,5
1,4,282,306,1,4,0,160,18387,22,3,5,0,5
2,1,287,706,1,4,1,339,20310,3,0,9,0,4
3,33,350,1493,1,2,0,937,23518,7,2,9,0,4
4,4,281,1413,1,2,0,879,18315,32,3,9,0,9

In [20]:
t = t1.head()

In [24]:
t1.to_json("dummy_data.json", orient='records', lines=True)

In [7]:
itemID = range(1, len(t1) + 1)
t1["ItemID"] = itemID

In [8]:
t1.head()

,baseColour,brandName,discountedPrice,fashionType,gender,myntraRating,price,productDisplayName,productTypeId,season,styleType,usage,year,ItemID
0,9,121,659,1,2,1,313,7124,30,2,9,1,5,1
1,4,282,306,1,4,0,160,18387,22,3,5,0,5,2
2,1,287,706,1,4,1,339,20310,3,0,9,0,4,3
3,33,350,1493,1,2,0,937,23518,7,2,9,0,4,4
4,4,281,1413,1,2,0,879,18315,32,3,9,0,9,5

In [9]:
t1.to_json("dummy_data_v2.json", orient='records', lines=True)